{%extends 'main.html'%} {% load static %} {%block content%}
<div class="description">
  <div class="bg-dark">
    <div class="miggg container my-5 container_pics_img">
      <div class="mig">
        <img src="{% static 'assets/img/menu_items/' %}{{menu.name}}.jpg" />
      </div>
      <div class="text-ccc bg-danger">
        <div class="migtext text-center">
          <h1 class="text-light">{{menu.name}}</h1>
          <p>{{menu.description}}</p>
          <p>${{menu.price}}</p>
        </div>
      </div>
    </div>
    <div class="price_container text-center">
      <a class="btn btn-danger btn-lg" href="">ORDER</a>
    </div>

    <hr />
  </div>
</div>
{%endblock content%}
