{%extends 'main.html'%}{%load static %} {%block content%}
<section class="abouuut">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 abt-us">
        <article>
          <h1 class="mt-5">WELCOME TO LITTLE LEMON RESTAURANT</h1>
          <p class="text-light">
            At Little Lemon, we believe that food is more than just sustenance;
            it's an experience, a moment of joy, and a burst of flavor that
            should leave a lasting impression. Nestled in the heart of
            Lemonville, a charming town in Nigeria, our restaurant offers a warm
            and inviting atmosphere where friends, families, and food
            enthusiasts can come together to savor delicious meals and create
            unforgettable memories.
          </p>
          <h1>OUR STORY</h1>
          <p class="text-light">
            Little Lemon was born out of a passion for culinary excellence and a
            love for fresh, zesty flavors. Founded on July 15, 2010, our journey
            began with a simple goal: to serve high-quality, flavorful dishes
            that celebrate the vibrant and diverse culinary traditions from
            around the world. Over the years, we have grown into a beloved
            dining destination, known for our commitment to using the freshest
            ingredients and our dedication to culinary creativity.
          </p>
        </article>
      </div>
      <div class="col-lg-6 abt-us1">
        <div class="img-text">
          <img src="{% static 'assets/img/Mario and Adrian b.jpg' %}" />
        </div>
      </div>
      <div class="col-lg-6 abt-us1">
        <div class="img-text">
          <img src="{% static 'assets/img/head_chef.jpg'%}" />
        </div>
      </div>
      <div class="col-lg-6 abt-us">
        <article>
          <h1>OUR CUISINE</h1>
          <p class="text-light">
            Our menu is a delightful fusion of classic and contemporary dishes,
            each crafted with care and precision by our talented chefs. From
            mouth-watering appetizers and savory main courses to decadent
            desserts, every item on our menu is designed to tantalize your taste
            buds. We take pride in our diverse offerings, which include
            vegetarian, vegan, and gluten-free options, ensuring that everyone
            can find something they love at Little Lemon.
          </p>
          <h1>OUR COMMITMENT</h1>
          <p class="text-light">
            At Little Lemon, we are dedicated to providing an exceptional dining
            experience for every guest. Our friendly and attentive staff are
            here to ensure that your visit is nothing short of perfect. We
            believe in the power of community and strive to create a welcoming
            environment where everyone feels at home.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
{%endblock content%}
